<ion-view ng-init="closeModal()" ng-class="{blurcontent:isOpen}">
    <ion-content id="resume" scrollbar-y="false">
        <div class="cover-image cover-image-95-95 cover-image-round has-border"
             style="background-image: url('img/qijiannan.jpg')"></div>

        <div class="list padding">
            <div class="item flex flex-center no-border">
                <h1>Qi Jiannan</h1>
                <h5>| 齐剑楠</h5>
            </div>

            <div id="basic-info" class="item no-border">

                <p>字南园，号太舟居士</p>

                <p>别署齐二，二南等</p>
            </div>

            <div class="item no-border artist-pic">
                <img src="img/qijiannan01.JPG">
            </div>
            <div class="item no-border artist-pic">
                <img src="img/qijiannan02.JPG">
            </div>
            <div class="item no-border artist-pic">
                <img src="img/qijiannan03.JPG">
            </div>

            <div id=education class="item no-border">
                <h4>Basic Info</h4>

                <p>生于1958年，山西榆次人</p>

                <p>现居北京宋庄</p>
            </div>

            <div class="item no-border">
                <h4>Education & Work</h4>

                <p>毕业于中央美术学院版画系</p>

                <p>2012年任宋庄书法院院长</p>

            </div>

            <div class="item no-border">
                <h4>Statement</h4>

                <p>平生以书画自娱，绝少参加各种社会活动，性耿介，好读闲书，喜远游，不善言辞，处事愚笨。为人坦诚，不计名利，书画无宗无派，风格无古无今。生活中随心见性，饮酒有量无瘾，绘画直追阳春白雪，交友不吝下里巴人。闲时近痴呆，忙时显仓促。不低头也不仰视，能守旧亦能创新。最信大学问平时不见有奇异，深感真聪明无所谓满足，艺术上是”善行者无达迹，生活中”以无事独得此生“。</p>

            </div>


        </div>
    </ion-content>
</ion-view>