<ion-view ng-init="closeModal()" ng-class="{blurcontent:isOpen}">
    <ion-content id="exhibition-list" scrollbar-y="false">
        <div class="list">
            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/126">
                <h4>齐剑楠</h4>
                <h5>书画艺术展</h5>
                <div class="cover-image cover-image-60-60 cover-image-vertical-center" style="background-image: url('img/solo-exhibition01.jpg')">
                </div>
                <p class="summary-3-line">承德民俗博物馆，2009年10月</p>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/139">
                <h4>虚空粉碎</h4>
                <h5>齐剑楠个展</h5>
                <div class="cover-image cover-image-60-60 cover-image-vertical-center" style="background-image: url('img/solo-exhibition02.jpg')">
                </div>
                <p class="summary-3-line"></p>
            </a>
        </div>
    </ion-content>
</ion-view>